<div class="container">
  <div class="header">
    <app-autocomplete-search class="search-container" />
    <h1 class="title">All Characters</h1>
  </div>

  @if (isLoading$ | async) {
  <div class="spinner-conainer">
    <mat-spinner></mat-spinner>
  </div>
  } @let error = error$ | async; @if (error) {
  <p>{{ error }}</p>
  } @else {

  <cdk-virtual-scroll-viewport
    itemSize="280"
    class="example-viewport"
    (scrolledIndexChange)="onScroll($event)">
    <app-character-card
      *cdkVirtualFor="let character of characters$ | async"
      [character]="character"></app-character-card>
  </cdk-virtual-scroll-viewport>



  @if (selectedCharacter) {
  <app-popup (isOpenChange)="onPopupStateChange($event)" [data]="selectedCharacter">
  </app-popup>
}
  }
</div>
