
.scroll-container {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  position: relative;
}

.virtual-scroll-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.character-item {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.character-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.characters-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.header{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container{
  width: 100%;
}

.character-list {
  height: 32rem;

  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(220, 220, 220);
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(210, 210, 210);
  }
}